<!DOCTYPE html><!--base for all pages.-->
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
  <title>{{title}}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="shortcut icon" href="{{root}}favicon.ico">
  <link rel="apple-touch-icon" href="{{root}}apple-touch-icon.png">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">


  <link rel="stylesheet" href="{{root}}assets/css/app.css"/>
</head>
<body>
  <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <noscript>
    <div class="alert alert-danger hide">
      <h1>{% trans %}Your browser does not have Javascript enabled.  Please turn it on to use this website.{% endtrans %}</h1>
    </div>
  </noscript>

  {{> header}}
    <div class="container main_container">
      {{> body}}
    </div>
  {{> footer}}

  {{> jszone}}
</body>
</html>
